.container{
    width: fit-content;
    form{
        width: fit-content;
        display: flex;
        border: 1px solid gray;
        input[type=radio]{
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            cursor: pointer;
        }
        label{
            font-weight: 500;
            padding: 10px;
            transition: all .3s ease;
        }
        input[type=radio]:checked + label{
            background-color: #4ddb6f;
        }
    }
}