$yellow: #e3fd9a;
$light-green: #8ffc98;
$green: #22af5f;
$selago: #ede3fc;
$melrose: #C5B8FC;
$blueberry: #7b92fc;
$watusi: #fee1d3;
$lavender: #fdb1d3;
$pink: #fb85cf;
$light-red: #ff5a5a;
$dark-blue: #223035;