.drawer{
    max-width: 50%;
    padding: 20px;
    background-color: gray;
    justify-self: end;
    transform: translateX(100%);

    animation: open-drawer .3s ease 0s 1 normal both;
}

@keyframes open-drawer {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}